.sidebar{
    background-color: rgb(0, 141, 223);
    height: 5vw;
    margin-top: 1vw;
}

.sidebar__navigation img{
   width: 9vw;
   position: relative;
   bottom: 2vw;

}
.conteiner ul{
    display: flex;
    gap: 20px;
    list-style: none; /* Remove as bolinhas */
    padding: 0;
    margin: 0;
}

.conteiner a{
    text-decoration: none;
}
.conteiner span{
    color: rgb(255, 255, 255);    
}

.navbar_navigation{
    position: relative;
    left: 35vw;
    bottom: 7.2vw;
    gap: 20px;
    font-family: 'Courier New', Courier, monospace;
}
.login{
    position: relative;
    left: 49vw;
    bottom: 7.2vw;
    gap: 20px;
    font-family: 'Courier New', Courier, monospace;
}